
body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 95%;
    height: 22px;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 0;
    margin: 10px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 10px #009E9E;
}
a {
    font-size: 0.8rem;
    color: #E9E9E9;
}

.container {
    background-color: #E9E9E9;
    margin: auto;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    overflow: hidden;
}

.header {
    padding: 0.9rem;
}
.header-title {
    color: #006f6f;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.header-subtitle {
    color: #009E9E;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.6rem 0rem;
}

.flex-container {
    display: flex;
    color: #F5F5F5;
    justify-content: space-around;

}

.col1 {
    background-color: #006868;
    width: 50%;
    padding: 1.2rem;
}
.col2 {
    background-color: #008585;
    width: 50%;
    padding: 0.3rem 1.2rem;
}

.subscription-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.9rem;
}
.price {
    font-size: 1.6rem;
    font-weight: 700;
}
.month {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0.9rem;
}
.btn {
    margin: 1.2rem 0rem 0rem;
    width: 100%;
    padding: 0.9rem 2rem;

    border-radius: 4px;
    border: none;
    
    color: #006A6A;
    font-size: 1rem;
    background-color: #CCCCCC;
    
    cursor: pointer;
}
.btn:hover {
    background-color: #E9E9E9;
}

.image-group {
    text-align: center;
}

.form-register {
    color: #F5F5F5;
    background-color: #006868;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }

    .col1, .col2 {
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        width: 95%;
    }

    .header {
        padding 15px;
    }

}

        